<a href="https://colab.research.google.com/github/OlatunjiHassan/My-Python-bites/blob/main/SolutionAirBnB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Use this air bnb new york city data set and remove outliers using percentile based on price per night for a given apartment/home. You can use suitable upper and lower limits on percentile based on your intuition. Your goal is to come up with new pandas dataframe that doesn't have the outliers present in it.

The below shows the reality of the price column. It shows the mean being 152.7 and 50% of the data less than 106. 75% of the data less than 175 but 100% less or equal to 10000. This proves that there are outliers towards the maximum price.

In [4]:
df = pd.read_csv('AB_NYC_2019.csv')
df['price'].describe()

count    48895.000000
mean       152.720687
std        240.154170
min          0.000000
25%         69.000000
50%        106.000000
75%        175.000000
max      10000.000000
Name: price, dtype: float64

I pointed out the most extreme values

In [5]:
low_outliers = df.price.quantile(0.01)
high_outliers = df.price.quantile(0.99)
print(low_outliers, high_outliers)

30.0 799.0

Then we create a new dataframe using only the data between these two extremes. This way. the outliers are eliminated.

In [6]:
no_outliers = df[(df.price < high_outliers)&(df.price > low_outliers)]
no_outliers.price.describe()

count    47744.000000
mean       138.832503
std        102.890554
min         31.000000
25%         70.000000
50%        108.000000
75%        175.000000
max        795.000000
Name: price, dtype: float64